*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(76, 168, 255);
}


.header{
  font-size: 1.3rem;
  padding: 30px;
}

.header > h1{
  font-family: 'Permanent Marker', cursive;
}

.body{
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
  grid-template-rows: min-content 1fr; */
  grid-template-columns: 1fr 2fr;
  box-shadow: 1px 1px 10px black;
  height: 100vh;
  border-radius: 20px 20px 0px 0px;
  background-color: rgb(255, 255, 255);
  gap: 5px;
}

.projects{
  display: flex;
  justify-content: center;
  height: max-content;
  margin-top: 50px;
  box-shadow: 1px 1px 5px black;
  padding: 30px;
  width: 90%;
  margin: 50px auto;
  border-radius: 5px;
}

.projects > input{
  font-size: 1.2rem;
  border: none;
  border-bottom: 2px solid black;
}

.projects > input:focus{
  padding-left: 5px;
}

.projects > button{
  cursor: pointer;
  font-size: inherit;
  border: none;
  padding: 5px 13px;
  white-space: nowrap;
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 8px;
}

form{
  height: max-content;
  margin-top: 50px;
  box-shadow: 1px 1px 5px black;
  padding: 30px;
  min-width: 490px;
  width: 95%;
  margin: 50px auto;
  border-radius: 5px;
}

form > ul {
  display: flex;
  list-style: none;
  width: 100%;
  align-items: center;
}

ul > li {
  margin-right: 2px;
}

ul > :first-child{
  flex-grow: 2;
  min-width: 200px;
}

li > input[type="text"]{
  width: 95%;
  font-size: 1.2rem;
}

li > input[type="date"]{
  font-size: inherit;
}

li > select{
  font-size: inherit;
}

li > button{
  cursor: pointer;
  font-size: inherit;
  border: none;
  padding: 5px 13px;
  white-space: nowrap;
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 8px;
}

option[value="low"]{
  background-color: green
}
option[value="medium"]{
  background-color: orange
}
option[value="urgent"]{
  background-color: red;
}
